@charset "UTF-8";
body {
  font-family: Century Gothic;
  margin: 0 50px 0 50px;
}

html {
  scroll-behavior: smooth;
}

.title {
  color: darkgrey;
  display: flex; /* Отображать как строчный элемент */
  padding: 20px 0 20px 0;
}
.title__brand {
  margin-right: 2%;
  display: flex;
  align-items: center;
}
.title__name {
  font-size: 1.5em;
  color: darkgray;
  text-decoration: none;
}
.title__name:hover {
  color: black; /* Цвет ссылки при наведении на нее курсора мыши */
}
.title__dop {
  width: 10%;
  display: flex;
}
.title__menu {
  width: 20%;
  display: flex; /* Отображать как строчный элемент */
  justify-content: center;
  align-items: center;
}

.info {
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.info__pic {
  width: 50%;
}
.info__pic img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 30%;
}
.info__pic p {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.info__pic a {
  text-decoration: none;
  color: darkgrey;
  transition: 0.2s linear;
}
.info__pic a:hover {
  color: black;
  transition: 0.2s linear;
}

.box {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  width: 54%;
  align-items: center;
}
.box__search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
  background: darkgrey;
  color: white;
  border-radius: 40px;
  padding: 10px;
}
.box__search:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
.box__search:hover > .search-btn {
  background: white;
}

.search-txt {
  color: white;
  border: none;
  background: none;
  font-family: Century Gothic;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.search-txt::-moz-placeholder {
  color: white;
}

.search-txt::placeholder {
  color: white;
}

.search-btn {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icons {
  width: 100%;
  display: flex; /* Отображать как строчный элемент */
  justify-content: center;
  align-items: center;
}
.icons__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons__box_link1 {
  transition: 0.3s linear;
  padding: 6% 11%;
  border-radius: 50%;
}
.icons__box_link {
  transition: 0.3s linear;
  padding: 9% 9% 4%;
  border-radius: 50%;
}
.icons__box_link:hover, .icons__box_link1:hover {
  background-color: #dedede;
  transition: 0.2s linear;
}

#person,
#cd-signup {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 25rem;
  height: 100vh;
  transition: all 0.5s;
  background-color: white;
  z-index: 9;
  box-shadow: rgba(0, 11, 11, 0.1) 0px 0px 20px;
  border-radius: 15px 0px 0px 15px;
}

.person__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.person__title_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.person__title_icon {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  right: 1rem;
  text-decoration: none;
  color: #7e7e7e;
  align-items: center;
  font-size: 20px;
}
.person__title_icon:hover {
  color: #000;
}
.person__block {
  display: flex;
  justify-content: center;
}
.person__info {
  position: absolute;
  background-color: white;
  width: 100%;
}
.person__choice {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: -1rem;
  justify-content: center;
}
.person__choice a {
  color: darkgrey;
  transition: 0.2s linear;
}
.person__choice a:hover {
  color: #000;
}
.person__list {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-inline: 2.5rem;
}
.person__list_btn {
  display: flex;
  justify-content: center;
}
.person__list_btn button {
  display: flex;
  width: 75%;
  padding: 2% 10%;
  justify-content: center;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: all 0.25s ease 0s;
  background: default;
}
.person__list_btn button:hover {
  background-color: #dedede;
}

.inputContainer {
  position: relative;
  border: 0.5px solid #7e7e7e;
  border-radius: 15px;
  background-color: white;
  padding: 0px 1rem 0px 1.5rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 90%;
}
.inputContainer__txt {
  border: none;
  background: none;
  font-family: Century Gothic;
  outline: none;
  float: left;
  background-color: white;
}

.inputContainer input {
  padding: 0px;
  text-align: left;
  border: none;
  display: block;
  outline: none;
  background-color: white;
  width: 100%;
  margin: 0px;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0 0 0px 10em white inset !important;
  -webkit-text-fill-color: #7e7e7e;
}

#person:target,
#cd-signup:target {
  display: block;
  right: 0;
}

.menu {
  display: flex; /* Отображать как строчный элемент */
  position: relative;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}
.menu_item {
  font-size: 14px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menu_link {
  color: black; /* Цвет текста */
  text-decoration: none;
  border-radius: 15px;
  color: black; /* Цвет текста */
  background: white; /* Цвет фона */
  padding: 1%; /* Поля вокруг текста */
  transition: 0.3s linear;
  width: 25%;
}
.menu_link:hover {
  background: darkgrey;
  transition: 0.3s linear;
  color: #fff; /* Цвет текста */
}
.menu_link__item {
  text-decoration: none;
  color: darkgrey;
}

.block {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.catalog {
  position: sticky;
  top: 10px;
  padding-right: 8%;
  background-color: #dedede;
  height: 500px;
  border-radius: 10px;
  grid-column: 1/3;
}
.catalog__title {
  justify-content: center;
  display: flex;
  margin-left: 10%;
}
.catalog__items ul li {
  list-style: none;
  float: none;
  margin: 7% -6%;
}
.catalog__items ul li:hover > a {
  color: black;
  transition: 0.3s linear;
}
.catalog__items ul li a {
  transition: 0.3s linear;
}
.catalog__items_item {
  text-decoration: none;
  list-style: none;
  color: #7e7e7e;
  display: flex;
  justify-content: space-between;
}
.catalog__items_item img {
  width: 3%;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 1%;
}
.products__item {
  margin: 5%;
}

.product {
  display: block;
  border: 1px solid darkgrey;
  border-radius: 5px;
  position: relative;
  background: #fff;
  text-decoration: none;
  color: #474747;
  z-index: 0;
  height: 100%;
}
.product a {
  text-decoration: none;
  color: #474747;
}

.product-photo {
  justify-content: center;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-photo img {
  border-radius: 5px;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
}

#product:hover .product-photo img {
  opacity: 0.3;
  transition: 0.5s;
}

.product-title {
  margin: 0 20px 0 20px;
}
.product-title__head {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.product-title__author {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #707783;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.product-price {
  margin: 10px 20px 0 20px;
  align-items: flex-end;
  display: flex;
  flex-flow: column;
}
.product-price__old {
  color: #707783;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
}
.product-price__line {
  left: -2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% + 4px);
}
.product-price__new {
  color: #f34a57;
  font-size: 18px;
  line-height: 22px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 10px 15px;
  cursor: default;
}
.product-info button {
  background-color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s linear;
  border-radius: 15px;
  opacity: 0.4;
}
.product-info button:hover {
  opacity: 1;
}
.product-info__pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
}
.product-info__pic img {
  width: 80%;
}
.main {
  grid-column: 3/11;
}

.navigation {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
.navigation button {
  font-size: 20px;
  font-family: Century Gothic;
  background-color: #EEE;
  border: none;
  padding-inline: 10%;
  padding-block: 1%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s linear;
}
.navigation button:hover {
  background-color: #dedede;
}

.footer {
  background-color: #EEE;
  margin: 5% -50px 0 -50px;
  padding-bottom: 2%;
}
.footer__block {
  padding-top: 1%;
  margin: 0 50px 0 50px;
}
.footer__block_title {
  text-align: center;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about__us {
  max-width: 50%;
  color: #616161;
  text-align: justify;
  line-height: 1.5rem;
}
.about__question {
  padding-top: 1%;
  width: 40%;
  text-align: center;
  color: #616161;
}
.about__question_form {
  display: block;
  margin-block: 5%;
}
.about__question_txt {
  width: 100%;
  padding: 2%;
}
.about__question button {
  font-size: 16px;
  font-family: Century Gothic;
  background-color: #dedede;
  border: none;
  padding-inline: 10%;
  padding-block: 1%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s linear;
}
.about__question button:hover {
  background-color: #d3d3d3;
}
.about__question input, .about__question textarea {
  border-radius: 15px;
  resize: none;
  text-align: left;
  display: block;
  outline: none;
  background-color: white;
  width: 93%;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0 0 0px 10em white inset !important;
  -webkit-text-fill-color: #7e7e7e;
  font-family: Century Gothic;
  border: 0.5px solid #7e7e7e;
  padding: 0px 1rem;
  height: 2rem;
  margin-bottom: 1.2rem;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
}/*# sourceMappingURL=catalog.css.map */